body {
    font-family: 'Poppins', sans-serif;
}

.slider-text {
    font-size: 90px;
}

.slider-p {
    font-size: 30px;
}

.courses {
    margin-top: 70px;
    margin-bottom: 170px;
}

.form {
    padding: 90px;
    background-color: rgb(45, 179, 223);
    margin-bottom: 150px;
}

.accordion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 120px;
    margin-top: 20px;
    width: 75%;
    margin-bottom: 150px;
}